body {
  font-family: "Advent Pro";
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.banner {
  max-height: 440px;
  min-height: 440px;
  height: 440px;
  max-width: 100vw;
  min-width: 100vw;
  width: 100vw;
}

.banner-break {
  margin: 0 0 0 5vw;
  position: absolute;
  border-bottom: 2px solid white;
  box-shadow: 4px 1.5px 3px .8px white;
  border-radius: 20%;
  min-width: 30vw;
  min-height: 1px;
  top: 120px;
  width: 30vw;
}

.banner-container {
  background: lightblue;
  height: 440px;
  margin: 10px 0 0 0;
  max-width: 99.125vw;
  padding: 0;
  width: 99.125vw;
  z-index: 5;
}

.banner-header {
  letter-spacing: 7.5px;
  font-family: "Advent Pro";
  font-size: 90px;
  font-weight: 100;
  color: white;
  margin: 0;
  padding: 0px 0;
  vertical-align: middle;
  text-align: center;
}

.banner-header-container {
  background: transparent;
  min-height: 110px;
  min-width: 40vw;
  width: 40vw;
  top: 65px;
  left: 30vw;
  position: absolute;
}

.banner-subheader-container {
  background: transparent;
  min-height: 110px;
  min-width: 40vw;
  width: 40vw;
  top: 225px;
  left: 0vw;
  position: absolute;
}

.banner-subheader {
  letter-spacing: 2.5px;
  font-family: "Advent Pro";
  font-size: 50px;
  font-weight: 100;
  color: white;
  margin: 0;
  padding: 0px 0;
  vertical-align: middle;
  text-align: center;
}

.billboard {
  background: #F6F4F3;
  margin: 25px 5%;
  min-width: 90%;
  max-width: 90%;
  max-height: 400px;
  min-height: 400px;
  box-shadow: 5px 7px 15px darkgray;
}

.billboard-flavor_text {
  font-size: 24px;
  padding: 20px 0 0 0;
  font-weight: 400;
  letter-spacing: .8px;
}

.billboard-image {
  margin: 0 auto;
  min-width: 500px;
  max-width: 100%;
  max-height: 320px;
  box-shadow: 0px 0px 10px 4px grey;
}

.billboard-image-container {
  margin: 2.5% 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
  float: left;
  min-width: 49%;
  max-width: 49%;
  max-height: 320px;
}

.billboard-tagline {
  margin: 0;
  padding-bottom: 18px;
  letter-spacing: 0.8px;
  font-size: 20px;
  font-size: 1.75rem;
  font-weight: 600;
  font-style: normal;
}

.billboard-text-container {
  padding: 0;
  margin: 0 2.5% 0 57.5%;
  min-height: 360px;
  min-width: 40%;
  max-height: 360px;
  max-width: 40%;
}

.billboard-title {
  padding: 20px 0 0 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #868686;
  font-size: 14px;
  font-size: 1.25rem;
  font-weight: normal;
  font-style: normal;
}

.default-child {
  margin: 25px 0 0 0;
  position: inherit;
  min-width: 90%;
  min-height: 100%;
}

.footer {
  background: lightgray;
  height: 15vh;
}

.menu {
  padding: 10px 0 0 0;
  background: #F6F4F3;
  height: 100vh;
}

.page-description {
  font-size: 28px;
  letter-spacing: .65px;
  padding: 15px 12.5% 0 12.5%;
}

.page-header {
  font-family: "Advent Pro";
  font-weight: 600;
  letter-spacing: .25em;
  padding: 25px 0 0 0;
  min-width: 100%;
  text-align: center;
}

#home-button {
  margin: 1px 5px 0 3px;
  box-shadow: .5px 1px 3.5px black;
}

.menuButton {
  position:relative;
  border-bottom: 1px solid black;
  box-shadow: .75px 1px 3.5px .2px black;
  color: #777670;
  font-family: "Advent Pro";
  font-size: 24px;
  font-weight: 500;
  margin: 5px 5px 0 3px;
  padding: 7px 0 .25em 20px;
  transition: .2s linear;
}

.menuButton:hover {
  background: #c6c6c6;
  font-size: 28px;
  color: white;
  transition: .18s ease-in .25s;
}

.parent {
  overflow-x: hidden;
  min-width: 99.125vw;
  min-height: 100vh;
  position: absolute;
}

.portal {
  position: absolute;
  /* width: 80.125vw; */
  min-height: 87vh;
  background: ligtslategrey;
}

.thumbnail-container {
  margin: 10px;
  float:left;
  min-height: 320px;
  max-height: 320px;
  max-width: 40%;
  min-width: 40%;
  overflow:hidden;
  text-align: center;
  vertical-align: top;
  box-shadow: 5px 2px 5px 2px grey;
}

.thumbnail-container img {
  min-width: 100%;
  max-width: 100%;
  min-height: 320px;
  z-index: 1;
  opacity: .95;
}

.thumbnail-grid {
  margin: 0 0% 0 7.5%;
  min-width: 100%;
  max-width: 100%;
}

.thumbnail-filter {
  position: absolute;
  min-height: 320px;
  max-height: 320px;
  min-width: 40%;
  max-width: 40%;
  background: black;
  opacity: 0;
  z-index: 50;
  transition: .15s linear;
}

.thumbnail-filter:hover {
  opacity: .6;
  transition: .3s ease-in;
}

.thumbnail-filter:hover ~ .thumbnail-title{
  top: -260px;
  font-size: 28px;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .3s ease-in;
}

.thumbnail-filter:hover ~ .thumbnail-flavor_text{
  opacity: 1;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
}

.thumbnail-title {
  text-align: center;
  font-size: 22px;
  color: white;
  position: relative;
  margin: 0 25%;
  min-width: 50%;
  max-width: 50%;
  max-height: 40px;
  top: -300px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  transition: .15s linear;
}

.thumbnail-flavor_text {
  text-align: center;
  position: relative;
  font-size: 20px;
  color: white;
  padding: 0 5%;
  min-width: 80%;
  max-width: 80%;
  top: -250px;
  right: 0;
  left: 10%;
  bottom: 0;
  z-index: 60;
  opacity: 0;
  transition: .15s linear;
}

.thumbnail-flavor_text:hover {
  opacity: 1;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
